@font-face {
    font-family: Lobster;
    src: url("../fonts/Lobster-Regular.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Lobster, 'Lobster', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom left, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url("../images/background.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.display__none {
    display: none !important;
    opacity: 0;
}

#loader {
    position: fixed;
    background-image: url("../images/1482.gif");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    background-color: rgba(0, 0, 0, .8);
}

.overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.top__menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    padding: 10px;
}

.top__menu .profile__info {
    display: flex;
    align-items: center;
}

.top__menu .profile__info img {
    height: 25px;
    width: 25px;
    margin-right: 5px;
    border-radius: 50%;
}

.top__menu .profile__info p {
    color: white;
}

#close__window {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.login__container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    width: 350px;
    background-image: linear-gradient(to bottom right, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
    margin: 0 auto;
    opacity: .8;
    border-radius: 20px;
    box-shadow: 5px 5px 40px;
}

.login__container h1 {
    color: black;
    font-size: 2.5rem;
    font-weight: 600;
}

input[type=text], input[type=password] {
    display: block;
    width: 280px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 1px 1px 5px;
}

input[type=text]::placeholder, input[type=password]::placeholder {
    text-transform: uppercase;
    text-align: center;
    font-size: .8rem;
}

#login {
    margin-top: 20px;
    height: 40px;
    width: 280px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 1px 1px 5px;
    background-image: linear-gradient(to top left, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
    background-size: 1px 100px;
    transition: all 0.5s ease-in-out;
}

#login:hover {
    background-position: center center;
}

#login:disabled {
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    cursor: progress;
    color: white;
    font-size: 1.5rem;
}

.unfollowers__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    background-image: linear-gradient(to bottom right, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
    opacity: .8;
    border-radius: 50px;
    padding: 10px;
}

.unfollowers__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    width: 480px;
    background-image: linear-gradient(to bottom right, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
    margin: 0 auto;
    opacity: .8;
    border-radius: 5px;
    box-shadow: 5px 5px 40px;
    overflow-y: scroll;
    height: 350px;
    transition: all .2s ease-in-out;
}

.unfollower__cart {
    display: flex;
    width: 48%;
    margin-right: 2%;
    margin-bottom: 2%;
    justify-content: start;
    align-items: center;
    background-image: linear-gradient(to bottom right, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
    height: 30.3%;
}

.unfollower__cart img {
    width: 30%;
    height: 70%;
    border-radius: 50%;
}

.unfollower__cart .unfollower__cart__info {
    width: 70%;
    padding: 10px;
}

.unfollower__cart .unfollower__cart__info p {
    font-size: .8rem;
    margin-bottom: 10px;
}

.unfollower__cart .unfollower__cart__info button {
    border: none;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: .7rem;
    display: block;
    width: 100%;
    transition: all .5s ease-in-out;
}

.unfollower__cart .unfollower__cart__info button:hover {
    background-color: green;
}