@font-face {
    font-family: Lobster;
    src: url("../fonts/Lobster-Regular.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Lobster, 'Lobster', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url("../images/background.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.login__container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    width: 350px;
    background-image: linear-gradient(to bottom right, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
    margin: 0 auto;
    opacity: .8;
    border-radius: 20px;
    box-shadow: 5px 5px 40px;
}

.login__container h1 {
    color: black;
    font-size: 2.5rem;
    font-weight: 600;
}

input[type=text], input[type=password] {
    display: block;
    width: 280px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 1px 1px 5px;
}

input[type=text]::placeholder, input[type=password]::placeholder {
    text-transform: uppercase;
    text-align: center;
    font-size: .8rem;
}

#login {
    margin-top: 20px;
    height: 40px;
    width: 280px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 1px 1px 5px;
    background-image: linear-gradient(to top left, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
    background-size: 1px 100px;
    transition: all 0.5s ease-in-out;
}

#login:hover {
    background-position: center center;
}

#login:disabled {
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    cursor: progress;
    color: white;
    font-size: 1.5rem;
}